.pt {
    padding-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.p20 {
    padding: 20px;
}

.border {
    border: 2px solid black;
}

.fontNunito {
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-weight: 300;
    opacity: .99;
}

.bgCard {
    opacity: .85;
    width: 60%;    
}